<h1><%= title %></h1>

<div id="mainMenu">
    <ul class="itemMenu clearfix">
        <li id="btnRefreshProducts">Refresh</li>
        <li id="btnAddProductForm">Add Product</li>
    </ul>
</div>

<div class="productBOX" id="productForm">
    <label id="pid"></label><br><br>
    <label>Name</label>
    <input type="text" id="productInputName" />
    <label>Description</label>
    <input type="text" id="productInputDesc" />
    <input id="btnProductForm" type="button" value="Add" />
</div>

<div class="productBOX" id="productMsg">
</div>

<div id="products">
    <ul id="productsList" />
</div>